name: Dev CI

permissions:
  contents: write

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build_and_test:
    name: Build and run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache Rust dependencies
        id: cache-rs
        uses: actions/cache@v5
        env:
          cache-name: cache-rs-dependencies
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Check
        uses: actions-rs/cargo@v1
        with:
          command: check

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test

  merge_master:
    name: Merge to master
    needs: build_and_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true
          fetch-depth: 0

      - name: Merge dev to master
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git fetch origin master || true
          git checkout master || git checkout -b master origin/master || git checkout -b master
          git merge origin/dev --allow-unrelated-histories -m "Merge stage to prod after successful deployment" || true
          git push origin master
